<mat-toolbar color="primary" class="toolbar">
  <div>
    {{title}}
  </div>
  <div>
    <!-- {{profile.name}} has logged in -->
    
      <!-- <mat-icon>person</mat-icon> -->
      <img [src]=profile.picture class="circle" [alt]="profile.name" >
    
    <!-- <button mat-button (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button> -->
  </div>
  
</mat-toolbar>
<!-- {{profile.picture}} -->
<!-- <img [src]=profile.picture class="circle" alt="mark"> -->

<!-- border-radius: 50%; -->
  <!-- <div class="dashboard">
    <h1>{{profile.name}} has logged in</h1>

    <p>
    {{ profile | json }}
  </p>

    
  </div> -->
