.dashboard {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 16px;
}

.toolbar {
  justify-content: space-between;
  align-items: center;

}

.circle {
  border-radius:50%;
  width:30%;
}
